Source: ros-hydro-pr2-run-stop-auto-restart
Section: misc
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-pr2-msgs, ros-hydro-pr2-power-board, ros-hydro-roscpp, ros-hydro-std-srvs
Homepage: http://ros.org/wiki/pr2_run_stop_auto_restart
Standards-Version: 3.9.2

Package: ros-hydro-pr2-run-stop-auto-restart
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-pr2-msgs, ros-hydro-pr2-power-board, ros-hydro-roscpp, ros-hydro-std-srvs
Description: This package provides a node that monitors the state of the run stops of the pr2_robot. When the state of the run stop changes from off to on, this node will automatically enable the power to the motors, and reset the motors. This allows you to use the run stop as a 'pause' button. By using the run stop as a tool to power up the robot, the run stop is also in reach of the user once the robot starts moving.
