Source: ros-hydro-imu-monitor
Section: misc
Priority: extra
Maintainer: "Austin Hendrix <ahendrix@willowgarage.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/imu_monitor
Standards-Version: 3.9.2

Package: ros-hydro-imu-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: This package contains a single node that monitors the drift of the IMU gyroscopes. The results are published to the '/diagnostics' topic and are aggregated in the PR2 dashboard.
