Source: ros-hydro-pr2-etherCAT
Section: misc
Priority: extra
Maintainer: "Austin Hendrix <ahendrix@willowgarage.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-diagnostic-msgs, ros-hydro-diagnostic-updater, ros-hydro-ethercat-hardware, ros-hydro-pr2-controller-manager, ros-hydro-pr2-hardware-interface, ros-hydro-pr2-mechanism-model, ros-hydro-realtime-tools, ros-hydro-roscpp, ros-hydro-std-srvs
Homepage: http://pr.willowgarage.com
Standards-Version: 3.9.2

Package: ros-hydro-pr2-etherCAT
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-diagnostic-msgs, ros-hydro-diagnostic-updater, ros-hydro-ethercat-hardware, ros-hydro-pr2-controller-manager, ros-hydro-pr2-hardware-interface, ros-hydro-pr2-mechanism-model, ros-hydro-realtime-tools, ros-hydro-roscpp, ros-hydro-std-srvs
Description: Main loop that runs the robot.
